#bold{

    font-family: Lato;
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 33px;
}


#back{

    background: rgba(223, 124, 146, 0.41) ;
    margin: 2px;
    display: flex;
    padding:30px 30px 30px 150px;
    align-items: center;
    justify-content: space-between;

}


.button{

    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    color:aliceblue;

}

#header text{


color: rgba(39, 39, 39, 0.60);
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
padding:33px 0px;

}

.pa
{
    margin-bottom: 33px;
}

#image{
width: 300px;
height: 500px;
flex-shrink: 0;

}
